.tooltip-title-1 {
    color: #1e4fdd;
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.tooltip-title-2 {
    color: #dd2a20;
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}